@tailwind base;
@tailwind components;
@tailwind utilities;





/* Hide default password reveal icon (Edge/Chrome) */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

/* Hide Chrome autofill / password icon */
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
}